.body * {
  box-sizing: border-box;
  margin: 0;
}

.test {
  font-weight: bold;
  font-size: 2.2rem;
  text-align: center;
}

.test_p {
  font-size: 1.15rem;
}

.main_container {
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
}

.navbar_container {
  display: flex;
  justify-content: space-between;
  color: white;
  background-color: #5b53b5;
  padding: 1vh 4vh;
}

.rightSide_options {
  margin-top: 6px;
  display: flex;
  gap: 0rem 2rem;
}

.rightSide_options h1:hover {
  color: rgb(209, 209, 209);
  cursor: pointer;
}

.info {
  display: flex;
  margin-top: 15vh;
}

.left_info h1 {
  font-weight: bold;
  font-size: 2.2rem;
}

.left_info h2 {
  font-weight: 500;
}

.left_info {
  padding: 13vh 25vh;
}
.right_info img {
  width: 32vw;
  align-self: end;
  margin: 0;
}

.left_info button {
  padding: 1.3rem 1rem;
  background-color: black;
  color: white;
  font-size: 23px;
  border-radius: 5px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

.left_info button:hover {
  color: rgb(190, 189, 189);
  background-color: rgb(20, 20, 20);
  cursor: pointer;
  transform: rotate(-1.1deg);
}

.about {
  margin: 1em auto;
  padding-bottom: 2rem;
  width: 75%;
  font-size: 0.95remm2;
}

/* 1344px (Smaller desktops) */

@media (max-width: 84em) {
  .left_info h1 {
    font-weight: bold;
    font-size: 1.8rem;
  }

  .left_info button {
    padding: 1rem 0.8rem;
    font-size: 18px;
    border-radius: 3px;
  }
}

/*  1200px (Landscape Tablets) */

@media (max-width: 75em) {
  .left_info h1 {
    font-weight: bold;
    font-size: 1.5rem;
  }

  .left_info button {
    padding: 0.85rem 0.6rem;
    font-size: 12px;
    border-radius: 2px;
  }

  .left_info h2 {
    font-size: 1.2rem;
  }

  .left_info {
    padding: 10vh;
  }
}

/* 944px (Tablets) */

@media (max-width: 59em) {
  .left_info h1 {
    font-weight: bold;
    font-size: 1.3rem;
  }

  .left_info button {
    padding: 0.9rem 0.85rem;
    font-size: 12px;
    border-radius: 2px;
  }

  .left_info h2 {
    font-size: 0.9rem;
  }

  .left_info {
    padding: 8vh 16vh;
  }
}
