.main_container {
  margin-left: 25rem;
}

.main_container input {
  border-radius: 1rem;
  border: 1px solid gray;
  background-color: #3e54ac;
  color: white;
}

.main_container input::placeholder {
  color: rgb(227, 225, 225);
}

.upbar {
  display: flex;
  margin-bottom: 3rem;
  width: 100%;
  margin-top: 1rem;
}

.patient_info {
  display: flex;
  justify-content: center;
  align-items: center;
}
.next_session {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.down_container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 6rem;
}

.down_container img {
  width: 75px;
  height: 75px;
  border-radius: 40px;
  margin-right: 1rem;
}

/* 1344px (Smaller desktops) */

@media (min-width: 84em) {
  .main_container {
    margin-left: 20rem;
  }
}

@media (max-width: 84em) {
  .main_container {
    margin-left: 20rem;
  }
}

/*  1200px (Landscape Tablets) */

@media (max-width: 75em) {
  .main_container {
    margin-left: 20rem;
  }
}

/* 944px (Tablets) */

@media (max-width: 59em) {
  .main_container {
    margin-left: 12rem;
  }
}
